.container{

  margin: auto;
}


.Product-Title{

  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-content: center;
}

.myFormular{
}

.myCard .mybtn{

  margin: 10px;
}

.myCard{

  width: 500px;
  height: 500px;
  margin: auto;

}

.container .btn{

  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 500px;
}