.container{

  margin: auto;
}


.Product-Title{

  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-content: center;
}

.myFormular{
}

.myCard .mybtn{

  margin: 10px;
}

.myCard{

  width: 500px;
  height: 500px;
  margin: auto;

}

.container .btn{

  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

.guess-field {

  margin-top: 1em;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.guess-btn{
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
}

.card-guess-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.guess-input-col{
  margin: auto;
}