html body {
  font-family: 'Righteous';
}



html body .login-forms{
  background-image: url('./images/bannerCidetec.png');
  background-size: 100%;
  height: 100vh;
}


.links .link-btn{
  padding: 25px;
  font-family: 'Righteous';

}

.border-here{
  border-right: 2px solid;
  padding-right: 100px;

}

.links-navbar{
  color: white;
  list-style: none;
  text-decoration: none;

}
.Card-login{
  margin-top: 200px;
  height: 592px;
  width: 581px;
  filter: drop-shadow(0, 15, 12, rbg(0,0,0,.22) );

}
html body .stuff{
  background-image: url('./images/Group.png');
  background-size:100%;
  height: 100vh;
}
.radio-Form{

  margin-top: 10px;
}
.login-form{
  padding: 10px;
}

.product-Form{

  margin-top: 50px;
}
.container{

  margin: auto;
}


.Product-Title{

  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-content: center;
}

.myFormular{
}

.myCard .mybtn{

  margin: 10px;
}

.myCard{

  width: 500px;
  height: 500px;
  margin: auto;

}

.container .btn{

  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

.guess-field {

  margin-top: 1em;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.guess-btn{
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
}

.card-guess-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.guess-input-col{
  margin: auto;
}

@media (max-width:375px) {
 
.menu-container{
  display: none;
  } 
}

.emp-title{
  margin-top: 100px;
  background-color: #29B6F6;
  text-align: center;
  padding: 25px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  color: black;
}

.emp-title h1 {
  font-size: 64px;
}

.table-head{
  font-size: 36px;
  color:black;
  padding: 25px;
}

.dis-other-col{
  height: 100vh;
}


.dis-col{
  
  height: 100vh;
  background-color: rgba(41, 182,246,25%);  
}

.product-title{
  margin: 50px;
}
.table{
  margin-top: 10px;
}